<div>

    <h2>{[{adder}]}</h2>

    <h2>Search Jobs</h2>
    <form class="well form-search">
        <label>Add Item:</label>
        <input type="text" ng-model="sender" class="input-medium search-query" placeholder="bob@jobs.com">
        <input type="text" ng-model="recipient" class="input-medium search-query" placeholder="loggit@mettentot.com">
        <input type="text" ng-model="subject" class="input-medium search-query" placeholder="Hello">
        <input type=" text" ng-model="details" class="input-medium search-query" placeholder="Enter URL">
        <button type="submit" class="btn btn-success" ng-click="addItem()">Search</button>
    </form>

</div>
