% extends "base.html" %}

<body>

{% block content %}

<h4>THE COMPANY</h4>

<p>

    MTW Ventures, was started in 2013 with the goal of using measurement and analytics to promote structure and progress in the careers and education space.  The company’s title stands for “Metten Tot Wetten,” a Dutch saying which means “From Measuring to Knowing.”

</p>

<p>

    The flagship product of MTW ventures will be a best in class “career achievement platform” called 5years.me.  The goal of the application is to systematically improve the quality and satisfaction of the American workforce by helping them manage and progress their careers.   Analogized as “GoogleMaps + Mint.com, but for your career and education”  </p>
    <p>

    The application will help users:</p>

<ol>
    <li>
        Identify their ideal career goal and pinpoint the near and long-term milestones towards that goal,
    </li>
    <li>
        Give pointed access to education, training, and networking resources to promote incremental growth,
    </li>
    <li>
        Aggregate information for a specific job or company so that users can stay up-to date,
    </li>
    <li>
        Manage the resume creation, job research, and job application process.
    </li>

</ol>

<hr>

<h4>THE TEAM</h4>
<p>
    Founder, Andy MacKrell is an experience software engineer in Omaha, NE.
</p>
<p>
He graduated from University of Notre Dame in 2008 with a degree in Mechanical Engineering and has been tinkering in hardware and software ever since.
</p>




{% endblock %}

</body>
